<div class="card">
    <div class="card-header">
        <h5 class="card-title">Entity Pictures</h5>
    </div>
    <div class="card-body">
        {% if entity.image %}
            <div class="card-image">
                <img src="{{ entity.image }}" alt="{{ entity.name }} image" class="img-fluid">
            </div>
        {% endif %}
    </div>
</div>