<div class="card">
  <div class="card-header">
    <h5 class="card-title">Entity Feature Comparison</h5>
  </div>
  <div class="card-body">
    <div class="table-wrapper">
      <table class="entity-table">
        <thead>
          <tr>
            <th>Feature</th>
            {% for entity in comparison.entities %}
              <th>{{ entity.name }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Net Weight</td>
            {% for entity in comparison.entities %}
              <td>{{ entity.properties.net_weight|default('N/A') }} g</td>
            {% endfor %}
          </tr>
          <tr>
            <td>Design</td>
            {% for entity in comparison.entities %}
            <td>
              {% if entity.design > 0 %}
                {% for i in range(0, entity.design  - 1) %}<i class="fa fa-rating-design"></i>{% endfor %}
              {% else %}
                <i class="fa fa-not-rated"></i>
              {% endif %}
            </td>
            {% endfor %}
          </tr>
          <tr>
            <td>Max Level</td>
            {% for entity in comparison.entities %}
              <td>{{ entity.max_capacity|default('N/A') }} ml</td>
            {% endfor %}
          </tr>
          <tr>
            <td>Average Capacity</td>
            {% for entity in comparison.entities %}
              <td style="text-wrap: nowrap">
              {% if entity.average_capacity < 500 %} {% for i in range(1, 1) %} <i class="fa fa-rating-capacity"></i> {% endfor %}
                {% elseif entity.average_capacity > 500 and entity.average_capacity < 1000 %} {% for i in range(1, 2) %}<i class="fa fa-rating-capacity"></i>{% endfor %}
                {% elseif entity.average_capacity > 1500 %} {% for i in range(1, 4) %}<i class="fa fa-rating-capacity"></i>{% endfor %}
                {% elseif entity.average_capacity > 1800 %} {% for i in range(1, 5) %}<i class="fa fa-rating-capacity"></i>{% endfor %}
                {% else %} {% for i in range(1, 3) %}<i class="fa fa-rating-capacity"></i>{% endfor %}
                {% endif %}
              </i>({{ entity.average_capacity|round(2, 'floor')|default('N/A') }} ml)</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
