<div class="card">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Product Information</h5>
    </div>
    <div class="card-body">
        <h1>{{ product.brand }}</h1>
        <p><strong>Net Weight</strong>: {{ product.net_weight }}g</p>
        <p><strong>Design</strong>: {{ product.design }} / 5</p>
        <p><strong>Description</strong>: {{ product.description }}</p>
    </div>
</div>