/* Add space to the top of the page */

/* Chart colors */
.color-1 {
  border-color: rgba(54, 162, 235, 1);
  background-color: rgba(54, 162, 235, 0.2);
}

.color-2 {
  border-color: rgba(255, 99, 132, 1);
  background-color: rgba(255, 99, 132, 0.2);
}

.color-3 {
  border-color: rgba(75, 192, 192, 1);
  background-color: rgba(75, 192, 192, 0.2);
}

.color-4 {
  border-color: rgba(255, 206, 86, 1);
  background-color: rgba(255, 206, 86, 0.2);
}

.color-5 {
  border-color: rgba(153, 102, 255, 1);
  background-color: rgba(153, 102, 255, 0.2);
}
