{% extends 'base.html.twig' %}

{% block title %}Product Comparison
{% endblock %}

{% block content %}

{% set colors = chart_colors() %}

<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Products</a>
            </li>
            <li class="breadcrumb-item active">Compare Products</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-6">
            {% set datasets = [] %}
            {% for dataset in comparison.comparison_data.datasets %}
                {% set dataset_with_colors = dataset|merge({
                    'colorClass': colors[loop.index0 % colors|length]
                }) %}
                {% set datasets = datasets|merge([dataset_with_colors]) %}
            {% endfor %}

            {% include 'partials/chart.html.twig' with {
                'title': 'Product measurements comparison',
                'chart_id': 'comparisonChart',
                'labels': comparison.comparison_data.labels,
                'datasets': datasets,
                'gradient': false
            } %}
        </div>
        <div class="col-md-6">
            {% include 'partials/measurement_table.html.twig' %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            {% include 'partials/feature_table.html.twig' %}
        </div>
    </div>

    <div class="mt-4">
        <a href="/" class="btn btn-secondary">Back to Product List</a>
    </div>
</div>
{% endblock %}