{% extends 'base.html.twig' %}

{% block title %}Product Comparison
{% endblock %}

{% block content %}

{% set colors = chart_colors() %}

<div class="container mt-4">
    {% include 'partials/breadcrumb.html.twig' with {
			current: "Multiple products comparsion" } 
    %}

    <div class="row">
        <div class="col-md-12">
            {% set datasets = [] %}
            {% for dataset in comparison.comparison_data.datasets %}
                {% set dataset_with_colors = dataset|merge({
                    'colorClass': colors[loop.index0 % colors|length]
                }) %}
                {% set datasets = datasets|merge([dataset_with_colors]) %}
            {% endfor %}

            {% include 'partials/chart.html.twig' with {
                'title': 'Product measurements comparison',
                'chart_id': 'comparisonChart',
                'labels': comparison.comparison_data.labels,
                'datasets': datasets,
                'gradient': false
            } %}
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include 'partials/measurement_table.html.twig' %}
            </div>
        </div>
    </div>

    <div class="mt-4">
        <a href="/" class="btn btn-secondary">Back to Product List</a>
    </div>
</div>
{% endblock %}