{% extends 'base.html.twig' %}

{% block title %}Entity Comparison{% endblock %}

{% block content %}
<div class="container comparison-view">
  {% include 'partials/breadcrumb.html.twig' with { current: "Multiple entities comparsion" } %}

  <div class="chart-section">
    {% set colors = chart_colors() %}
    {% set datasets = [] %}
    {% for dataset in comparison.comparison_data.datasets %}
      {% set dataset_with_colors = dataset|merge({ 'colorClass': colors[loop.index0 % colors|length] }) %}
      {% set datasets = datasets|merge([dataset_with_colors]) %}
    {% endfor %}

    {% include 'partials/chart.html.twig' with {
      'title': 'Entities measurements comparison',
      'chart_id': 'comparisonChart',
      'labels': comparison.comparison_data.labels,
      'datasets': datasets,
      'gradient': false
    } %}
  </div>

  <div class="table-section">
    {% include 'partials/measurement_table.html.twig' %}
  </div>

  <div class="back-button">
    <a href="/" class="button secondary">Back to Entity List</a>
  </div>
</div>
{% endblock %}
